body {
  background-color: #113a53;
}
.rtlworks-spinner {
  background-image: url(images/hourglass.svg );
  width: 64px;
  height: 64px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
#rtlworks-sharing {
  text-align: center;
}
.rtlworks-ui-ResultsPanel-table,
.rtlworks-ui-ResultsPanel-body {
  color: #666;
  text-shadow: none;
}
.rtlworks-ui-ResultsPanel a {
  color: #666;
  font-weight: bold;
}
.rtlworks-ui-ResultsPanel .alert {
  margin: 0;
}
.rtlworks-ui-ResultsPanel-permalink {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.rtlworks-ui-ResultsPanel-requestedUrl {
  vertical-align: middle;
  display: inline-block;
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rtlworks-ui-ResultsPanel .panel-heading a {
  color: #bbffc7;
}
.rtlworks-ui-ResultsPanel-table td {
  padding: 0.5em;
}
.rtlworks-ui-ResultsPanel-table-description-trigger {
  vertical-align: bottom;
}
.rtlworks-ui-ResultsPanel-body-summary,
.rtlworks-ui-ResultsPanel-body-intro {
  color: #337ab7;
  text-shadow: none;
  padding: 0.5em;
  text-align: center;
}
.rtlworks-ui-ResultsPanel-body-summary h1,
.rtlworks-ui-ResultsPanel-body-intro h1 {
  font-size: 1.8em;
  margin: 0;
  font-weight: bold;
}
.rtlworks-ui-ResultsPanel-body-summary p,
.rtlworks-ui-ResultsPanel-body-intro p {
  margin: 0.2em;
  font-weight: bold;
}
.rtlworks-ui-ResultsPanel-body-summary {
  color: #666;
}
.rtlworks-ui-ResultsPanel-body-summary p {
  font-weight: normal;
}
.rtlworks-ui-sharingPanel-buttons,
.rtlworks-ui-sharingPanel-intro {
  display: inline-block;
}
.rtlworks-ui-sharingPanel-intro {
  margin-right: 1em;
}
