<div class="mastfoot">
	<div class="inner">
		<p>Another <a href="http://rtl.wtf">rtl.wtf</a> product by <a href="http://moriel.smarterthanthat.com">Moriel Schottlender</a>. <a href="http://github.com/mooeypoo/rtl.works">Pull requests welcome!</a> | Loading animation from <a href="http://loading.io/">loading.io</a> | Sharing buttons by <a href="http://socialsharekit.com/">Social Share Kit</a> | Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
	</div>
</div>
