{% extends "base.page.html" %}

{% block content %}
	<h1 class="cover-heading">Does my site work with Right-to-Left?<a href="explanation.php">*</a></h1>
	<p></p>
	<p class="lead centered">

	<!-- FORM -->
	<div class="input-group">
		<input type="text" id="rtlworks-url-input" class="form-control" placeholder="http://www.example.com">
		<span class="input-group-btn">
			<button id="rtlworks-analyze-button" class="btn btn-primary" type="button">Analyze!</button>
		</span>
	</div><!-- /input-group -->
	<!-- /FORM -->
	</p>
	<div id="rtlworks-sharing"></div>
	<div id="rtlworks-loading"></div>
	<div id="rtlworks-result"></div>
{% endblock %}

{% block js_scripts %}
	<script src="assets/rtl.works.js"></script>
	<script src="assets/lib/social-share-kit-1.0.9/dist/js/social-share-kit.min.js"></script>
{% endblock %}

{% block stylesheets %}
	<link href="assets/lib/social-share-kit-1.0.9/dist/css/social-share-kit.css" rel="stylesheet">
{% endblock %}
