Putting direction attributes in the &lt;html&gt; or &lt;body&gt; is always a good idea. The default direction of an html and body block are 'ltr', but your page may get to "live" in a space you don't always control. A few examples:
<ul>
	<li>Sharing a page in email: HTML-formatted email adheres to the user's client rules. This means that if a user views the email in an RTL-confugured client, your text may get all jumbled.</li>
	<li>Mixed languages and infered directionality: If your site includes user-submitted content, and some is aligned right-to-left, having the 'dir' attribute can help set the global directionality of the page and avoid some issues with rendering. <em>Watching out from mixed content is a good idea in any case.<em></li>
</ul>
